ETHERSCAN_API_KEY=
ETHEREUM_ALCHEMY_API_KEY=

LINEASCAN_API_KEY=
GNOSISSCAN_API_KEY=
BASESCAN_API_KEY=

ETHEREUM_MAINNET_RPC=
GNOSIS_MAINNET_RPC=
BASE_MAINNET_RPC=
LINEA_MAINNET_RPC=
HYPERLIQUID_MAINNET_RPC=
PLASMA_MAINNET_RPC=
RARI_MAINNET_RPC=

TENDERLY_API_KEY=
TENDERLY_TESTNET_RPC=
TENDERLY_ACCOUNT=
TENDERLY_PROJECT=
TENDERLY_TESTNET_ID=

ALCHEMY_SUBGRAPH_QUERY_KEY=
